# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\拉钩资料\第六阶段\模块一\模块一Mybatis\模块一Mybatis\Mybatis代码\mybatis_quickstart\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
